apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: dev-

resources:
  - ../../base

patches:
  - path: patches/aws-config.yaml
  - path: patches/import-existing.yaml  # Import bootstrap resources
