# Prod environment - higher replicas for HA
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kong
spec:
  replicas: 2
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
spec:
  replicas: 2
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rest
spec:
  replicas: 2
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: realtime
spec:
  replicas: 2
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: storage
spec:
  replicas: 2
