apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: supabase

resources:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: dev

patches:
  - path: patches/resources.yaml
  - path: patches/postgres.yaml
  - path: patches/external-secrets.yaml
