args:
  - --enable-external-secret-stores

resourcesCrossplane:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

resourcesRBACManager:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

metrics:
  enabled: true

webhooks:
  enabled: true
